<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iPhoneBase.ios4</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>*:shouldAutorotateToInterfaceOrientation</key>
		<string>- (BOOL)shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation {
    return YES;
}
</string>
	</dict>
	<key>Identifier</key>
	<string>com.apple.dt.unit.iPadBase.ios4</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_UNIVERSAL_IPHONE_OS)</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>2</string>
		</dict>
	</dict>
</dict>
</plist>
